<% @questionnaire.pages.each_with_index do |page, i| -%>
  <div class="separate-page">
    <h1><%=h @questionnaire.title %></h1>
        <!-- <ul id="questions"> -->
        <table width="100%" cellpadding="1px">
        	<% i = 0 %>
        	<% page.questions.each do |question| -%>
        		
        		<% if question.type =~ /Questions::Forma/ %>
        		
        			<%
        			if i == 0 %>
        				<%= "<tr>" %>
        				<% 
        				estilo = ' question_forma_35'
        			else
        				estilo = ' question_forma_20'
        			end
        			%>
        		
        	 		<% if question.type =~/Questions::FormaLab/ %>
        	 	    	<!-- <td class="question_forma_label" id="question_<%#=question.id%>"> -->
        	 	    	<td class="question_forma_label <%=estilo%>" id="question_<%=question.id%>">
                			<%= render_question question %>
              			</td>
        	 		<% elsif question.type =~/Questions::FormaHead/ %>
        	 				<th class="question_forma_heading <%=estilo%>" id="question_<%=question.id%>">
        	 				<%= render_question question %>
        	 			</th>
        	 		<% else %>
        	  			<td class="question_forma  <%=estilo%>" id="question_<%=question.id%>">
                			<%= render_question question %>
              			</td>
                	<% end %>
                	<% 
             		i = i + 1
             		%>
             		<%
             		if i == 4
             		%>
             			<%= "</tr>" %>
             		<%	i = 0
             		end
             		%>	 
              	<% else -%>
              	<tr>
              		<td class="question" id="question_<%=question.id%>">
                		<%= render_question question %>
              		</td>
              	</tr>
             	<% end %>
             	
          	<% end -%>
         <!-- </ul> -->
         </table> 
   </div>
<% end -%>
